.banner-item {
  margin-left: -50px;
}

.banner-item-list img {
  width: calc(100% - 17px);
  border-radius: 5px;
}

.ui-page .ui-header {
  background: #7dbf43 !important;
  height: 50px;
  padding-top: 10px;
}

label {
  text-align: center;
}

h1 {
  color: white;
}
