.banner-item {
  margin-left: -50px;
}

.banner-item-list img {
  width: calc(100% - 17px);
  border-radius: 5px;
}

.ui-page .ui-header {
  background: #7dbf43 !important;
  height: 50px;
  padding-top: 10px;
}

.fas {
  padding-top: 13px;
  padding-right: 8px;
  padding-left: 8px;
}

.fa-bell {
  padding-right: 25px;
}

label {
  text-align: center;
}

h1 {
  color: white;
}

h2 {
  font-size: 15px;
  text-align: center;
}
